@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&family=Monoton&display=swap');

body,
html {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.logo img {
    width: 300px;
    height: 100px;
}

h1 {
    visibility: hidden;
}

.container {
    display: block;
    margin: 1em auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: #555;
}

a:hover {
    color: #222;
}

button {
    background: #000;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
}

button:hover {
    color: #444;
    transition: color .5s;
    cursor: pointer;
}

#time {
    font-size: 5em;
    margin: 1.5em 0 .5em;
}

#date {
    font-size: 2em;
    margin-bottom: 1em;
}

ul {
    font-size: 1.5em;
    color: #333;
}

ul li {
    margin: 1em;
    display: inline-block;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e50022, 0 0 40px #e50022, 0 0 50px #e50022, 0 0 60px #e50022, 0 0 70px #e50022;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e20000, 0 0 40px #e20000, 0 0 50px #e20000, 0 0 60px #e20000, 0 0 70px #e20000, 0 0 80px #e20000;
    }
}

.btn {
    font-size: 40px;
}

.btn a {
    text-decoration: none;
    color: #fff;
    -webkit-animation: textglow 1s ease-in-out infinite alternate;
    -moz-animation: textglow 1s ease-in-out infinite alternate;
    animation: textglow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes textglow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ca6e83, 0 0 40px #ca6e83, 0 0 50px #ca6e83, 0 0 60px rgb(212, 102, 118)3, 0 0 70px #e50022;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ca6e83, 0 0 40px #ca6e83, 0 0 50px #e20000, 0 0 60px #e20000, 0 0 70px #e20000, 0 0 80px #e20000;
    }
}